---
title: About Lisa
layout: base.njk
style: normal
---

<div class="grid md:grid-cols-2 gap-8 max-w-4xl px-5 m-auto pt-24 text-zinc-600">
    <div>
        <h1 class="font-raleway uppercase text-xl mb-5">+ {{ title }}</h1>
        <p class="mb-4 font-merriweather font-light text-sm">Labore nulla voluptate nulla est esse esse. Laboris cillum esse veniam enim amet dolore ex esse aute. Fugiat sunt cupidatat culpa eiusmod laborum officia enim minim exercitation non cillum mollit minim cillum. Ullamco non ipsum sint labore do reprehenderit sit consequat ullamco eiusmod nulla mollit tempor deserunt. Veniam ad cillum adipisicing labore. Ad adipisicing fugiat nostrud velit quis mollit minim irure qui qui.</p>
        <p class="mb-4 font-merriweather font-light text-sm">Et elit tempor cupidatat aute consequat quis. Id nulla anim in aute id et enim. Exercitation culpa dolore nisi qui. Laboris cillum commodo quis ea deserunt in ullamco magna ex labore eu reprehenderit commodo. Non enim amet minim eu ad et excepteur consequat Lorem proident et.</p>
        <p class="mb-4 font-merriweather font-light text-sm">Amet ullamco laborum magna et sit ullamco. Consequat laborum aute velit duis esse officia ipsum mollit sunt fugiat aliqua sit sit. Cillum elit qui eu elit exercitation. Anim nostrud voluptate do est. Deserunt esse excepteur amet sint irure est proident reprehenderit quis aliqua excepteur consectetur qui. Cupidatat aute consectetur in adipisicing. In nostrud dolore fugiat veniam ea id veniam id sunt ipsum ad.</p>
        <p class="mb-4 font-merriweather font-light text-sm">Nisi non culpa Lorem nostrud laboris cupidatat commodo non eu elit duis. Aute ut do labore excepteur ullamco sint in magna mollit eiusmod ad. Occaecat deserunt do commodo labore magna cillum ullamco exercitation consectetur magna est ut ad.</p>
    </div>

    <div>
        <img src="https://images.squarespace-cdn.com/content/v1/5c34f2484eddec9a761dfa23/f3dcfd2c-e1b4-41d4-9068-7b068799e51f/Liberty+Portraits+2023+28.jpg?format=2500w" alt="" class=" mb-10">
    </div>
</div>