---
title: About 
layout: base.njk
style: normal
---

<div class="grid md:grid-cols-2 gap-8 max-w-4xl px-5 m-auto pt-14 md:pt-24 text-zinc-600">
    <div>
        <h1 class="font-raleway uppercase text-lg md:text-xl mb-5">+ {{ title }}</h1>
        <p class="mb-4 font-merriweather font-light text-sm">Lisa is a London based prop and interior stylist</p>
        <p class="mb-4 font-merriweather font-light text-sm">She has worked with clients such as: <a href="www.pigletinbed.com" class="underline">Piglet in bed</a>, <a href="https://www.thewhitecompany.com/uk/" class="underline">The White Company,</a> and <a href="https://www.sohohome.com/" class="underline">Soho Home</a></p>
        <p class="mb-4 font-merriweather font-light text-sm">Photographers: Jon Aaron Green, Kate Davis, Tamin Jones, Mariell A Lind Hansen</p>
    </div>
        <img src="/assets/interiors/interiors-16.jpg" alt="" class=" mb-10">
    </div>
</div>