---
title: Contact
layout: base.njk
style: normal
---

<div class="max-w-4xl px-5 m-auto pt-24 text-zinc-600">
        <h1 class="font-raleway uppercase text-xl mb-5">+ {{ title }}</h1>
        <p class="mb-4 font-merriweather font-light text-sm"><span class="underline">Email:</span> lisamckinney00@gmail.com</p>
        <p class="mb-4 font-merriweather font-light text-sm"><span class="underline">Phone:</span> +44 7875 407994</p>
        <p class="mb-4 font-merriweather font-light text-sm"><span class="underline">Location:</span> London, United Kingdom</p>
</div>